In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_data=pd.read_csv('train.csv')

train_data1=pd.read_csv('train.csv')
train_data.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01%,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85%,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02%,77.0,3.0,35.0,21.0,7.0,7,7,1

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15730 entries, 0 to 15729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15730 non-null  int64
 1   title       15730 non-null  object
 2   Rating      15730 non-null  float64
 3   maincateg   15204 non-null  object
 4   platform    15730 non-null  object
 5   price1      15730 non-null  int64
 6   actprice1   15730 non-null  int64
 7   Offer %     15730 non-null  object
 8   norating1   15052 non-null  float64
 9   noreviews1  15152 non-null  float64
 10  star_5f     15142 non-null  float64
 11  star_4f     15191 non-null  float64
 12  star_3f     15499 non-null  float64
 13  star_2f     15730 non-null  int64
 14  star_1f     15730 non-null  int64
 15  fulfilled1  15730 non-null  int64
dtypes: float64(6), int64(6), object(4)
memory usage: 1.9+ MB

In [4]:
train_data.isnull().sum()

id              0
title           0
Rating          0
maincateg     526
platform        0
price1          0
actprice1       0
Offer %         0
norating1     678
noreviews1    578
star_5f       588
star_4f       539
star_3f       231
star_2f         0
star_1f         0
fulfilled1      0
dtype: int64

In [5]:
# filling nan with 0

train_data['star_5f']=train_data['star_5f'].fillna(0)
train_data['star_4f']=train_data['star_4f'].fillna(0)
train_data['star_3f']=train_data['star_3f'].fillna(0)
train_data['norating1']=train_data['norating1'].fillna(0)
train_data['noreviews1']=train_data['noreviews1'].fillna(0)

In [6]:
# filling nan values in maincateg with gender

train_data['title']=train_data['title'].str.find('Men')
train_data.loc[train_data.title >=0, 'maincateg']= 'Men'
train_data.loc[train_data.title<0, 'maincateg']= 'Women'
train_data['title']=train_data1['title']

In [7]:
train_data.isnull().sum()

id            0
title         0
Rating        0
maincateg     0
platform      0
price1        0
actprice1     0
Offer %       0
norating1     0
noreviews1    0
star_5f       0
star_4f       0
star_3f       0
star_2f       0
star_1f       0
fulfilled1    0
dtype: int64

In [8]:
# independent variables and dependent variables

X=train_data.drop(['Offer %','price1','title','id'],axis=1)
y=train_data['price1']

In [9]:
# # removing punctuation from y column

# import string
# string.punctuation

# def rev_pun(text):
#     no_punt=''.join([c for c in text if c not in '%'])
#     return no_punt

# X['Offer %']=X['Offer %'].apply(lambda x: rev_pun(x))
# X['Offer %']=X['Offer %'].astype(float)

In [10]:
#women = 1 and men = 0
# flipkart = 1 and amazon = 0

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X.maincateg=le.fit_transform(X.maincateg)
X.platform=le.fit_transform(X.platform)

In [11]:
# boxcox transformation

from sklearn.preprocessing import PowerTransformer
pw=PowerTransformer()

X=pd.DataFrame(pw.fit_transform(X),columns=X.columns)



X.head()

,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,-0.441262,0.767600,0.148858,0.024192,-0.768524,-0.733605,-0.837965,-0.747570,-0.765894,-0.816818,-1.042378,-1.228647
1,-0.765863,-1.302762,0.148858,1.035790,0.283008,0.282327,0.287809,0.250405,0.379875,0.287482,0.448371,0.813904
2,1.384995,0.767600,0.148858,2.001993,-1.067692,-0.966386,-1.007603,-1.178567,-1.218991,-1.247301,-1.854459,0.813904
3,0.612815,-1.302762,0.148858,-0.551268,2.235045,2.108999,0.862956,2.207886,2.086169,1.648163,2.134081,0.813904
4,-0.441262,-1.302762,0.148858,1.207418,-0.495748,-1.078545,-0.547912,-0.386614,-0.696574,-0.413292,-0.662598,0.813904

In [12]:
# # QQ plot

# from scipy import stats
# import seaborn as sns
# for i in X.columns:
#     plt.figure(figsize=(10,6))
#     plt.subplot(121)
#     sns.histplot(X[i])
#     plt.title(i)
    
#     plt.subplot(122)
#     stats.probplot(X[i],dist='norm',plot=plt)
#     plt.title(i)
    
# plt.show()

In [13]:
# # correlation metrix

# plt.figure(figsize=(20,10))
# sns.heatmap(X.corr(),annot=True)
# plt.show()

In [14]:
from sklearn.model_selection import train_test_split

X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=.2,random_state=40)
print('training data',X_train.shape,y_train.shape)
print('validation data',X_val.shape,y_val.shape)

training data (12584, 12) (12584,)
validation data (3146, 12) (3146,)

In [15]:
from sklearn.ensemble import RandomForestRegressor
rfc=RandomForestRegressor()

rfc.fit(X_train,y_train)
print(rfc.score(X_train,y_train),rfc.score(X_val,y_val))

0.985506226533619 0.8929671369138603

In [16]:
from sklearn.metrics  import mean_squared_error

predicted_y=rfc.predict(X_val)
mean_squared_error(predicted_y,y_val)

47744.24655475021

In [17]:
# from sklearn.model_selection import cross_val_score

# cross_val_score(rfc,X_val,y_val,cv=5)

In [21]:
from sklearn.model_selection import GridSearchCV


params={'n_estimators':[1500,2000],
        'max_features':[0.5],
        'min_samples_split':2,
        'max_depth':None,
        'bootstrap':[True],
        'random_state':[True],
        'max_samples':[0.75]}

# gs_cv=GridSearchCV(estimator=rfc,cv=5,param_grid=params,scoring='neg_mean_absolute_error',verbose=2)
# gs_cv.fit(X_train,y_train)

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV

# gs_rand=RandomizedSearchCV(estimator=rfc,cv=5,param_distribution=params,scoring='neg_mean_squared_error',verbose=2,n_jobs=-1)
# gs_rand.fit(X_train,y_train)

In [ ]:
# gs_cv.best_params_

In [ ]:
rfc_gsc=RandomForestRegressor(bootstrap=True,
                              criterion='absolute_error',
                              max_depth=None,
                              max_features=0.5,
                              min_samples_split=2,
                              max_samples=0.75,
                              n_estimators=1500,
                              random_state=True)

rfc_gsc.fit(X_train,y_train)
# print(rfc_gsc.score(X_train,y_train),rfc_gsc.score(X_val,y_val))

In [ ]:
# rfc_gsc=RandomForestRegressor(bootstrap=True,max_features='log2', max_samples=0.8, n_estimators=1500,
#                       random_state=True)

# rfc_gsc.fit(X_train,y_train)
# print(rfc_gsc.score(X_train,y_train),rfc_gsc.score(X_val,y_val))

In [23]:
from sklearn.metrics import mean_absolute_error
pred_y_gsc=rfc_gsc.predict(X_val)
mean_absolute_error(pred_y_gsc,y_val)

104.9354356686802

## test data

In [ ]:
test_data=pd.read_csv('test.csv')
test_data1=pd.read_csv('test.csv')
test_data.head()

In [ ]:
test_data.isnull().sum()

In [ ]:
test_data.shape

In [ ]:
test_data['Rating']=test_data['Rating'].fillna(0)
test_data['star_5f']=test_data['star_5f'].fillna(0)
test_data['star_1f']=test_data['star_1f'].fillna(0)

In [ ]:
test_data['title']=test_data['title'].str.find('Men')
test_data.loc[test_data.title >=0, 'maincateg']= 'Men'
test_data.loc[test_data.title<0, 'maincateg']= 'Women'
test_data['title']=test_data1['title']

In [ ]:
test_data=test_data.drop(['title','id'],axis=1)

In [ ]:
test_data.head()

In [ ]:
test_data.platform=le.transform(test_data.platform)

In [ ]:
test_data.loc[test_data.maincateg=='Men','maincateg']=0
test_data.loc[test_data.maincateg=='Women','maincateg']=1

In [ ]:

test_data=pd.DataFrame(pw.transform(test_data),columns=test_data.columns)

In [ ]:
test_data.head()

In [ ]:
predicted_test_y=rfc_gsc.predict(test_data)
predicted_test_y

In [ ]:
dict={'id':test_data1['id'],
     'price1':predicted_test_y}
sub_value=pd.DataFrame(dict)

In [ ]:
sub_value.head()

In [ ]:
sub_value.to_csv('Sample_Submission_randf.csv',index=False)